
body{
    font-family: 'Poppins', sans-serif;
}

.active {
    font-weight: 600;
    text-decoration: underline;
}

/* 
nav{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}

nav a {
    color: black;
    text-decoration: none;
}

.navright :first-child p{
    font-weight: bolder;
}

.navLeft{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
    font-size: x-large;
    font-weight: bold;
}

.navright{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



main{
    color: white;
}

.top{

    min-height: 950px;
    background-image: url(../images/fond.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slogan{
    display: flex;
    position: relative;
    margin: auto;
    top: 120px;
    width: 70%;
    height: 600px;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: flex-end;
}

.right{
    width: 40%;
    height: 80%;
    text-align: right;
}

h2 {
    color: #ECC600;
    font-size: 5rem;
    font-weight: bolder;
    opacity: 100%;
}

.contact {
    margin-top: 35px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #ECC600;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.histoire{
    margin-top: 40px;
    margin-left: 40px;
    width: 40%;
    text-align: end;
    line-height: 1.3em;
}

.technos{
    width: 100%;
    height: 1200px;
    background-color: rgb(236, 198, 0);
}


<div class="top">
    <div class="slogan"> 
        <div class="right">
            <h2>Une solution pour chaque projet</h2>
            <button class="contact" type="button">Contacte moi</button> 
        </div>
    </div>
    <div class="histoire">
        <p>Je m'appelle Adrien, développeur web freelance spécialisé dans la création de sites internet sur mesure. Je travaille en étroite collaboration avec mes clients pour comprendre leurs besoins spécifiques et créer des solutions personnalisées. Fort de mes compétences en HTML, CSS, JavaScript et des frameworks populaires, mon engagement envers mes clients se traduit par un service professionnel et une attention aux détails. Si vous cherchez un partenaire de confiance pour développer ou améliorer votre présence en ligne, je serais ravi de discuter de votre projet. Contactez-moi et nous transformerons votre projet en réalité.</p>
        <button class="contact" type="button">Contacte moi</button>
    </div>
</div> */