/* Style globale */
body{
    font-family: 'Poppins', sans-serif;
}

.page {
    display: none;
}

.show {
    display: block;
}

h1{
    color: rgb(236, 198, 0) ;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

p{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: fit-content;
}
/* Nav barre */
.active {
    font-weight: 600;
}

/* footer */
.footer .row{
    border-top: 2px solid rgb(236, 198, 0);
}

.footer .card{
    background-color: black;
}


/* Page Home */
.home{
    background-image: url('../images/homeCut.jpg');
    background-position: bottom;
}

/* Page portfolio */
.portfolio{
    background-image: url('../images/portfolio.jpg');
}

/* Page projets */
.projects{
    background-image: url('../images/projectsCut.jpg');
}

/* Page about */
.about{
    background-image: url('../images/aboutCut.jpg');
    background-position: bottom;
}

/* Page blog */
.blog{
    background-image: url('../images/blogCut.jpg');
}

/* Page contact */
.contact{
    background-image: url('../images/contactCut.jpg');
    background-position: bottom;
}



input[type="checkbox"]:checked {
    position: relative;
    background: rgb(236, 198, 0);
}

input[type="checkbox"]:checked:before {
    content: '\2714';
    display: block;
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: -8px;
}

.btn-primary {
    background-color: rgb(236, 198, 0);
    border-color: rgb(117, 99, 5);
    max-width: 90px;
}

.link-underline-none {
    text-decoration: none;
}

.link-underline-hover:hover {
    text-decoration: underline;
}
