
body{
    font-family: 'Poppins', sans-serif;
}

.footer .row{
    border-top: 2px solid rgb(236, 198, 0);
}

.footer .card{
    background-color: black;
}

.active {
    font-weight: 600;
    text-decoration: underline;
}

.home{
    background-image: url('../images/fond.jpg');
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    color: rgb(236, 198, 0) ;
    font-size: 5rem;
}

.page {
    display: none;
}

.show {
    display: block;
}

.bg_contact{
    background-image: url('../images/contact.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
}
